nav ul a {
	color: #717171;	
}
.logoFix{
	vertical-align: middle;
	
}
i.mdi-navigation-menu.anvilMenu {
  color: #717171;	
}
h2:before { 
  display: block; 
  content: " "; 
  margin-top: -285px; 
  height: 285px; 
  visibility: hidden; 
}

footer {
  background-color: #ccc;
}