<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title ANVILATION display-1 is-hidden-touch">
        Services
      </h1>
      <h1 class="title ANVILATION is-hidden-desktop">
        Services
      </h1>
    </div>
  </div>
</section>
<section class="hero is-fullheight has-text-white">
  <div class="hero-body">
    <div class="container">
      <section class="section">
        <div class="columns">
          <div class="column is-8 is-offset-2 ">
            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">
                    <span class="icon">
                      <fa-icon [icon]="icons.design" aria-hidden="true" aria-label="logo github"></fa-icon>
                    </span>
                    Design and Implementation
                  </p>
                  <p class="subtitle">
                    Over 15 years experience in the OpenText Content Suite, and SharePoint.
                    My experience has extended to all stages of the project and product lifecycle,
                    including sales support, training, architecture and design,
                    implementation and upgrades, BAU support, and through to
                    Information and Records Management policy.
                  </p>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">
                    <span class="icon">
                      <fa-icon [icon]="icons.integration" aria-hidden="true" aria-label="logo github"></fa-icon>
                    </span>
                    Integration
                  </p>
                  <p class="subtitle">
                    From creating bespoke integration peices developed in Node.JS or Java.
                    Through to connecting SharePoint Online environments to on-premise systems
                    using Azure resouces (Logic Apps, Custom Logic App connectors, Power BI Gateway)

                  </p>
                </div>
              </div>
            </div>

            <div class="tile is-ancestor">
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">
                    <span class="icon">
                      <fa-icon [icon]="icons.businessprocess" aria-hidden="true" aria-label="logo github"></fa-icon>
                    </span>
                    Business Process Management
                  </p>
                  <p class="subtitle">
                    Over 15 years experience in the OpenText Content Suite, and SharePoint.
                    My experience has extended to all stages of the project and product lifecycle,
                    including sales support, training, architecture and design,
                    implementation and upgrades, BAU support, and through to
                    Information and Records Management policy.
                  </p>
                </div>
              </div>
              <div class="tile is-parent">
                <div class="tile is-child box">
                  <p class="title">
                    <span class="icon">
                      <fa-icon [icon]="icons.code" aria-hidden="true" aria-label="logo github"></fa-icon>
                    </span>
                    Development
                  </p>
                  <p class="subtitle">
                    Experience developing with JavaScript (Angular, and vanilla), and Java
                    
                  </p>
                  <div id="wedevelpusing" class="level is-mobile">
                    <div class="level-item has-text-centered">
                      <div aria-label="Javascript" [inlineSVG]="'/assets/javascript.svg'"></div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div aria-label="Angular" [inlineSVG]="'/assets/angular.svg'"></div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div aria-label=".NET" [inlineSVG]="'/assets/dot-net.svg'"></div>
                    </div>
                    <div class="level-item has-text-centered">
                      <div aria-label="Java" [inlineSVG]="'/assets/java.svg'"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>



          </div>
        </div>
      </section>

    </div>
  </div>
</section>