<section class="hero ">
  <div class="hero-body">
    <div class="container">
      <h1 class="title ANVILATION display-1 is-hidden-touch">
        Projects
      </h1>
      <h1 class="title ANVILATION is-hidden-desktop">
        Projects
      </h1>
    </div>
  </div>
</section>
<section class="hero">
  <div class="hero-body">
    <section class="section">
      <div class="columns">
        <div class="column is-8 is-offset-2 ">
          <div class="tile  is-ancestor">
            <div class="tile">
              <div class="card">
                <div class="card-content has-text-centered">
                  <div aria-label="Anvilation.github.io" [inlineSVG]="'/assets/anvilation-logo.svg'" class="anl-logo"></div> 
                  <div class="title">
                    <span class="icon-text">
                      <span class="icon">
                        
                      </span>
                      <span>anvilation.github.io</span>
                    </span>
                    
                  </div>
                  <p class="subtitle">
                    This page! Built using Angular with a sprinkle of <a href="https://bulma.io/" target="blank">Bulma</a>
                  </p>
                </div>
                <footer class="card-footer">
                  <p class="card-footer-item">
                    <span>
                      View on <a href="https://github.com/anvilation/anvilation.github.io">GitHub</a>
                    </span>
                  </p>
                </footer>
              </div>
            </div>
            <div class="tile is-vertical ">
              <div class="tile">
                <div class="card">
                  <div class="card-content">
                    <p class="title">
                      <span class="icon">
                        <fa-icon [icon]="icons.github" aria-hidden="true" aria-label="logo github"></fa-icon>
                      </span>
                      Content Server Upload
                    </p>
                    <p class="subtitle">
                      A simple application detailing how to upload a document to OpenText using Content Server
                    </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        View on <a href="https://github.com/anvilation/ContentServerUpload">GitHub</a>
                      </span>
                    </p>
                  </footer>
                </div>
              </div>
              <div class="tile">
                <div class="card">
                  <div class="card-content">
                    <p class="title">
                      <span class="icon">
                        <fa-icon [icon]="icons.github" aria-hidden="true" aria-label="logo github"></fa-icon>
                      </span>
                      Create PDF
                    </p>
                    <p class="subtitle">
                      Node Application to Create PDF, using capabilty within the LibreOffice
                    </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        View on <a href="https://github.com/anvilation/createPDF">GitHub</a>
                      </span>
                    </p>
                  </footer>
                </div>
              </div>
              <div class="tile">
                <div class="card">
                  <div class="card-content">
                    <p class="title">
                      <span class="icon">
                        <fa-icon [icon]="icons.github" aria-hidden="true" aria-label="logo github"></fa-icon>
                      </span>
                      Test Data Generator
                    </p>
                    <p class="subtitle">
                      Small Project to generate test data for Content Server Performance Tests
                    </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        View on <a href="https://github.com/anvilation/testdatagenerator">GitHub</a>
                      </span>
                    </p>
                  </footer>
                </div>
              </div>   
              <div class="tile">
                <div class="card">
                  <div class="card-content">
                    <p class="title">
                      <span class="icon">
                        <fa-icon [icon]="icons.github" aria-hidden="true" aria-label="logo github"></fa-icon>
                      </span>
                      azure webapp typescript express
                    </p>
                    <p class="subtitle">
                      Simple Express App built for Azure Web App using TypeScript
                    </p>
                  </div>
                  <footer class="card-footer">
                    <p class="card-footer-item">
                      <span>
                        View on <a href="https://github.com/anvilation/azure-webapp-typescript-express">GitHub</a>
                      </span>
                    </p>
                  </footer>
                </div>
              </div>                           
            </div>

          </div>
        </div>

      </div>


    </section>
  </div>
</section>