/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";

@font-face {
    font-family: ANVIL;
    src: url("assets/font/QanelasSoftDEMO-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: ANVIL_light;
    src: url("assets/font/QanelasSoftDEMO-Medium.otf") format("opentype");
}

.ANVILATION {
	font-family: ANVIL;
	color: #13143e;	
}

// $family-sans-serif: ANVIL_light;
$primary: #3CC0C6;
// $link: #272838;
// $info: #5D536B;
// $warning: #ffbc42;
// $danger: #d81159;
$services:  #13143e;
$projects: #DD4798;
$footerbackground: #028090;
// $other: #02c39a;


@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/@creativebulma/bulma-divider/src/sass/index.sass";

.projects {
  background-color: $projects;
  color: $white;
  padding: 3rem 1.5rem 6rem;
}

.services {
  background-color: $services;
  color: $white;
  padding: 3rem 1.5rem 6rem;
}

.display-1 {
  font-size: 6rem;
  font-weight: 300;
}

.footer {
    // background-color: #2b3a45;
    background-color: $footerbackground;
    color: $white;
    padding: 3rem 1.5rem 6rem;
  }

  .footer a {
    color: $white;
  }
  .footer a:hover {
    color: $primary;
  }
/*
  .anl-logo svg {
    width: 1em;
    padding: 1em;
  }

  */