<footer class="footer dl-footer">
    <div class="content">
        <nav class="level">
            <p class="level-item has-text-centered">

                <a href="/" class="navbar-item is-size-5 " target="blank">
                    <span class="is-size-3 ANVILATION">
                        <strong>ANVILATION</strong>
                    </span>
                </a>

            </p>
            <p class="level-item has-text-centered">
                <a href="https://github.com/anvilation" class="navbar-item is-size-5 " target="blank">
                    <span class="icon is-large  is-hidden-touch">
                        <fa-icon [icon]="icons.github" aria-hidden="true" aria-label="logo github"></fa-icon>

                    </span>
                    <span class="is-hidden-desktop">&nbsp;GitHub</span>
                </a>
            </p>
            <p class="level-item has-text-centered">
                <a href="https://twitter.com/whiteanvil" class="navbar-item is-size-5 " target="blank">
                    <span class="icon is-large is-hidden-touch">
                        <fa-icon [icon]="icons.twitter" aria-hidden="true" aria-label="logo twitter"></fa-icon>
                        <span class="is-hidden-desktop">&nbsp;Twitter</span>
                    </span>

                </a>
            </p>
            <p class="level-item has-text-centered">
                <a href="https://au.linkedin.com/in/mbarben" class="navbar-item is-size-5 " target="blank">
                    <span class="icon is-large is-hidden-touch">
                        <fa-icon [icon]="icons.linkedin" aria-hidden="true" aria-label="logo linkedin"></fa-icon>
                        <span class="is-hidden-desktop">&nbsp;LinkedIn</span>
                    </span>

                </a>
            </p>
            <p class="level-item has-text-centered">
                <a href="https://medium.com/@mbarben" class="navbar-item is-size-5 " target="blank">
                    <span class="icon is-large is-hidden-touch">
                        <fa-icon [icon]="icons.medium" aria-hidden="true" aria-label="logo medium"></fa-icon>
                        <span class="is-hidden-desktop">&nbsp;Medium</span>
                    </span>

                </a>
            </p>
        </nav>
        <br>
        <div class="is-pulled-right">
            <a href="https://bulma.io" target="blank">
                <img src="https://bulma.io/images/made-with-bulma--black.png" alt="Made with Bulma" width="128" height="24">
            </a>
        </div>

    </div>
</footer>